################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MarineFitBot/FileContentIndex/61db395f-baae-4206-b661-367a1fafccf6.vsidx
